
[submodule ".github/workflows/themes"]
	path = .github/workflows/themes
	url = https://github.com/parsiya/Hugo-Octopress.git
[submodule ".github/themes"]
	path = .github/themes
	url = https://github.com/parsiya/Hugo-Octopress.git
