[submodule "Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress.git

[submodule "thems/ssss"]
	path = thems/ssss
	url = https://github.com/parsiya/Hugo-Octopress.git
